
  <section class="section why-us" data-section="news">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading text-center">
            <h2>Noticias de Elemental Studios</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <!-- Primera Noticia -->
            <div class="col-12 col-md-4 mb-4 d-flex justify-content-center" >
              <div class="card shadow card-hover" style="max-width: 18rem;">
                <img src="assets/news/1.webp" class="card-img-top rounded-top" alt="Los Idiomas">
                <div class="card-body">
                  <h5 class="card-title text-center">Los Idiomas</h5>
                  <p class="card-text text-muted">
                    Explorar el aprendizaje del inglés es una inversión que rinde frutos a lo largo de la vida. 
                    Ya sea que quieras mejorar tus habilidades profesionales o explorar nuevas culturas, 
                    <strong>aprender inglés</strong> online es el primer paso hacia tus objetivos.
                  </p>
                </div>
                <br/>
                <div class="text-center mt-3 mb-3">
                  <a routerLink="noticias/la-importancia-de-saber-ingles" class="btn btn-warning">Leer más</a>
                </div>
              </div>
            </div>
            <!-- Segunda Noticia -->
            <div class="col-12 col-md-4 mb-4 d-flex justify-content-center" >
              <div class="card shadow card-hover" style="max-width: 18rem;">
                <img src="assets/news/ingles-oportunidades.jpg" class="card-img-top rounded-top" alt="Aprender Inglés">
                <div class="card-body">
                  <h5 class="card-title text-center">Aprender Inglés</h5>
                  <p class="card-text text-muted">
                    El dominio del inglés abre puertas en el mundo profesional y personal. Con recursos online y dedicación,
                    dominar este idioma nunca ha sido tan accesible. Da el siguiente paso hacia tus metas con nuestras guías.
                  </p>
                </div>
                <div class="text-center mt-3 mb-3">
                  <a routerLink="/noticias/dominar-el-ingles-facilmente"  class="btn btn-warning">Leer más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
