<section class="section contact" data-section="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Mantengamos el contacto</h2>
          </div>
        </div>
        <div class="col-md-6">
          <form [formGroup]="userForm">
            <div class="row">
              <div class="col-md-6">
                  <fieldset>
                    <input name="name" type="text" class="form-control" 
                    id="name" placeholder="Tu Nombre" required=""
                    formControlName="firstName">
                  </fieldset>
                  <div *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched" id="warningFormMessage">
                    <small *ngIf="userForm.get('firstName')?.errors?.['required']">El nombre es obligatorio.</small>
                    <small *ngIf="userForm.get('firstName')?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input name="email" type="email" class="form-control" 
                    id="email" placeholder="Tu Email" required=""
                    formControlName="email">
                  </fieldset>
                  <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" id="warningFormMessage">
                    <small *ngIf="userForm.get('email')?.errors?.['required']">El email es obligatorio.</small>
                    <small *ngIf="userForm.get('email')?.errors?.['email']">El email no es válido.</small>
                  </div>
                </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" 
                  id="message" placeholder="Mensaje..." required=""
                  formControlName="message"></textarea>
                </fieldset>
                <div *ngIf="userForm.get('message')?.invalid && userForm.get('message')?.touched" id="warningFormMessage">
                  <small *ngIf="userForm.get('message')?.errors?.['required']">El mensaje es obligatorio.</small>
                  <small *ngIf="userForm.get('message')?.errors?.['maxlength']">El mensaje no debe exceder los 100 caracteres.</small>
                  <small *ngIf="userForm.get('message')?.errors?.['pattern']">El mensaje contiene caracteres no permitidos.</small>
                </div>
              </div>
              <div class="col-md-12">
               <fieldset>
                  <div class="g-recaptcha" data-sitekey="6LcoCTcqAAAAAJh2jUyiB1kIJaTkWu8Adu5aeICk"></div>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button 
                  type="button"
                  id="form-submit" 
                  class="button" 
                  (click)="onSubmit()" >Enviar</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div id="map">
            <iframe src="https://maps.google.com/maps?q=Av.+Los+Pajaritos+3030,+Maipú,+Región+Metropolitana&output=embed" width="100%" height="422px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
