<!--header-->
<header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><img src="assets/brand/logo.png" /> </a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#section1">Inicio</a></li>
     <!--    <li class="has-submenu"><a href="#section2">About Us</a>
        <ul class="sub-menu">
            <li><a href="#section2">Who we are?</a></li>
            <li><a href="#section3">What we do?</a></li>
            <li><a href="#section3">How it works?</a></li>
            <li><a href="https://templatemo.com/about" rel="sponsored" class="external">External URL</a></li>
          </ul> 
        </li>-->
        <li><a href="#section2">Quienes somos?</a></li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <li><a href="#section6">Contactanos</a></li>
      <!-- <li><a href="https://templatemo.com" class="external">External</a></li> -->
      </ul>
    </nav>
  </header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="assets/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>Graduate School of Management</h6>
              <h2><em>Aprende </em> inglés <em> Ahora </em></h2> 
              <div class="main-button">
                  <div class="scroll-to-section"><a href="#section2">Ver mas</a></div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->


  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="features-post">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-pencil"></i>Nuestros cursos</h4>
              </div>
              <div class="content-hide">
                <p>Descubre todos nuestros cursos de inglés diseñados para cada nivel. Aprende a tu ritmo con clases interactivas y recursos exclusivos.</p>
                <p class="hidden-sm">Descubre todos nuestros cursos de inglés diseñados para cada nivel. Aprende a tu ritmo con clases interactivas y recursos exclusivos.</p>
                <div class="scroll-to-section"><a href="#section2">More Info.</a></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post second-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-graduation-cap"></i>Clases Virtuales</h4>
              </div>
              <div class="content-hide">
                <p>Accede a nuestras clases virtuales en vivo. Aprende inglés desde cualquier lugar con profesores expertos y contenido personalizado.</p>
                <p class="hidden-sm">Accede a nuestras clases virtuales en vivo. Aprende inglés desde cualquier lugar con profesores expertos y contenido personalizado.</p>
                <div class="scroll-to-section"><a href="#section3">Ver mas</a></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post third-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-book"></i>Reuniones efectivas</h4>
              </div>
              <div class="content-hide">
                <p>Participa en nuestros encuentros virtuales en vivo, donde podrás practicar inglés en contextos reales sin salir de casa. Interactúa con compañeros y tutores en un entorno remoto altamente interactivo, diseñado para mejorar tu fluidez y confianza en el idioma. Estos encuentros te preparan para utilizar el inglés de manera efectiva en situaciones cotidianas, brindándote la experiencia práctica que necesitas desde la comodidad de tu hogar.</p>
                <p class="hidden-sm">Participa en nuestros encuentros virtuales en vivo, donde podrás practicar inglés en contextos reales sin salir de casa. Interactúa con compañeros y tutores en un entorno remoto altamente interactivo, diseñado para mejorar tu fluidez y confianza en el idioma. Estos encuentros te preparan para utilizar el inglés de manera efectiva en situaciones cotidianas, brindándote la experiencia práctica que necesitas desde la comodidad de tu hogar.</p>
                <div class="scroll-to-section"><a href="#section4">Read More</a></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <section class="section video" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <h4>¿Por qué <em>elegirnos</em>?</h4>
            <h6><strong>Domina el <em>Inglés Corporativo</em> con un Programa Personalizado para ti</strong></h6>
            <ul class="pl-4">
              <li>
                <i class="fa-solid fa-ear-listen icon-elemental"></i>
                <strong> Comunicación efectiva y colaborativa</strong>
                <div class="ml-4">
                  <div>
                    <p>
                      <i class="fa-solid fa-chevron-right"></i>
                      Rompe barreras entre departamentos con una comunicación asertiva en inglés. Nuestro programa está diseñado a medida para potenciar tus habilidades lingüísticas y facilitar una comprensión clara y efectiva.
                    </p>
                  </div>
                </div>
              </li>
              <li><i class="fa-solid fa-wand-sparkles icon-elemental"></i><strong> Creación y Comprensión de Contenido</strong>
                <div class="ml-4">
                  <div>
                    <p>
                      <i class="fa-solid fa-chevron-right"></i>
                      Optimiza tus interacciones laborales con herramientas de aprendizaje enfocadas en el dominio del inglés desde el primer día. Mejora tu capacidad para crear y entender contenido de forma precisa y sin complicaciones.
                    </p>
                  </div>
                </div>
              </li>
              <li><i class="fa-solid fa-hat-wizard icon-elemental"></i><strong> Resultados Rápidos con Inmersión Lingüística</strong>
                <div class="ml-4">
                  <div>
                    <p>
                      <i class="fa-solid fa-chevron-right"></i>
                      Aprende de manera natural con nuestra metodología de inmersión lingüística. Integra conceptos y gramática en tu día a día, logrando avances significativos en poco tiempo. ¡Empieza a aplicar lo aprendido desde el día uno!
                    </p>
                  </div>
                </div></li>
            </ul>
          <!-- <div class="main-button"><a rel="nofollow" href="https://fb.com/templatemo" target="_parent">External URL</a></div> -->
          </div>
        </div>
        <div class="col-md-6">
          <article class="video-item">
            <div class="video-caption">
              <h4>Elemental Studios</h4>
            </div>
            <figure>
              <a href="https://www.youtube.com/watch?v=r9LtOG6pNUw" class="play"><img src="assets/images/teacher.jpg"></a>
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading text-center">
            <h2>Porque Elegir Elemental Studios?</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-12 col-md-4 mb-4 d-flex justify-content-center">
              <div class="card shadow card-hover" style="max-width: 18rem;">
                <img src="assets/images/postit.png" class="card-img-top rounded-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center"><i class="fa-solid fa-brain"></i> PIENSA TU PLAN </h5>
                    <ul class="ml-3 card-text text-muted">
                      <li>¿Por qué quiero aprender?</li>
                      <li>¿Para qué quiero aprender?</li>
                      <li>¿Cuándo lo quiero lograr?</li>
                      <li>¿Cuánto tiempo invertiré?</li>
                    </ul>
                </div>
                <div class="text-center mt-3 mb-3">
                  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#planModal">Más detalles</button>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-4 d-flex justify-content-center">
              <div class="card shadow card-hover" style="max-width: 18rem;">
                <img src="assets/images/img2.png" class="card-img-top rounded-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center"><i class="fa-solid fa-microphone-lines"></i> CUÉNTANOS</h5>
                  <p class="card-text text-muted">Conversemos sobre tus objetivos, metas e intereses.
                    Mientras más conozcamos de ti, más personalizado será tu aprendizaje.                    
                  </p>
                </div>
                <div class="text-center mt-3 mb-3">
                  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#planModal">Más detalles</button>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-4 d-flex justify-content-center">
              <div class="card shadow card-hover" style="max-width: 18rem;">
                <img src="assets/images/pos.jpeg" class="card-img-top rounded-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center"><i class="fa-solid fa-clipboard-list"></i> MANOS A LA OBRA</h5>
                  <p class="card-text text-muted">Creamos tu plan ideal usando tus objetivos y metas junto a tu contexto laboral y cotidiano para que tu aprendizaje te lleve a lograr tus objetivos.
                  </p>
                </div>
                <div class="text-center mt-3 mb-3">
                  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#planModal">Más detalles</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section coming-soon accordion-containerr" data-section="section5">
    <div class="container table-container">
        <h2 class="text-center mb-4 title-table">Tabla de Cursos <i class="fa-solid fa-graduation-cap icon-elemental"></i></h2>
        <p style="color: #c0d4f2;">* La cantidad de horas es aproximada, ya que puede variar según el avance de cada estudiante.</p>
        <!-- Accordion -->
        <div class="accordion" id="courseAccordion">
            <!-- Curso Essential A1 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingA1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseA1" aria-expanded="true" aria-controls="collapseA1">
                        Essential: A1
                    </button>
                </h2>
                <div id="collapseA1" class="accordion-collapse collapse show" aria-labelledby="headingA1" data-bs-parent="#courseAccordion">
                    <div class="accordion-body">
                        <ul>
                            <li>Inglés esencial 1</li>
                            <li>Inglés esencial 2</li>
                            <li>100 horas</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Curso Essential A2 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingA2">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseA2" aria-expanded="false" aria-controls="collapseA2">
                        Essential: A2
                    </button>
                </h2>
                <div id="collapseA2" class="accordion-collapse collapse" aria-labelledby="headingA2" data-bs-parent="#courseAccordion">
                    <div class="accordion-body">
                        <ul>
                            <li>Inglés esencial 3</li>
                            <li>Inglés esencial 4</li>
                            <li>100 horas</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Curso Intermediate B1 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingB1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseB1" aria-expanded="false" aria-controls="collapseB1">
                        Intermediate: B1
                    </button>
                </h2>
                <div id="collapseB1" class="accordion-collapse collapse" aria-labelledby="headingB1" data-bs-parent="#courseAccordion">
                    <div class="accordion-body">
                        <ul>
                            <li>Inglés intermedio bajo 1</li>
                            <li>Inglés intermedio bajo 2</li>
                            <li>100 horas</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Curso Intermediate B2 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingB2">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseB2" aria-expanded="false" aria-controls="collapseB2">
                        Intermediate: B2
                    </button>
                </h2>
                <div id="collapseB2" class="accordion-collapse collapse" aria-labelledby="headingB2" data-bs-parent="#courseAccordion">
                    <div class="accordion-body">
                        <ul>
                            <li>Inglés intermedio alto 3</li>
                            <li>Inglés intermedio alto 4</li>
                            <li>100 horas</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Curso Advanced C1 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingC1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseC1" aria-expanded="false" aria-controls="collapseC1">
                        Advanced: C1
                    </button>
                </h2>
                <div id="collapseC1" class="accordion-collapse collapse" aria-labelledby="headingC1" data-bs-parent="#courseAccordion">
                    <div class="accordion-body">
                        <ul>
                            <li>Inglés avanzado 1</li>
                            <li>Inglés avanzado 2</li>
                            <li>100 horas</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Curso Advanced C2 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingC2">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseC2" aria-expanded="false" aria-controls="collapseC2">
                        Advanced: C2
                    </button>
                </h2>
                <div id="collapseC2" class="accordion-collapse collapse" aria-labelledby="headingC2" data-bs-parent="#courseAccordion">
                    <div class="accordion-body">
                        <ul>
                            <li>Inglés maestría 1</li>
                            <li>Inglés maestría 2</li>
                            <li>100 horas</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

 
    </div>
</section>


  <app-contact></app-contact>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>          
          Developed by: <a href="#" rel="sponsored" target="_parent"> ..:: Softwarecode.cl ::..</a><br>
          
          
          </p>
        </div>
      </div>
    </div>
  </footer>