.item-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 10px;
  border: 1232px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-elemental{
    color: #f5a425;
}


/* General styles for cards */
.card {
  border: none; /* Removes default border */
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Clips overflow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
}

.card-img-top {
  height: 400px; /* Ajusta el alto a tu necesidad */
  object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333; /* Slightly darker text */
}

.card-text {
  font-size: 0.95rem;
  color: #666; /* Muted text for better contrast */
}

/* Hover effect */
.card-hover:hover {
  transform: translateY(-10px); /* Lift effect */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adds depth */
}

.card-body {
  height: 11rem;
}

/* tabla */


body {
  background-color: #162238;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.accordion-container {
  margin: 50px auto;
  padding: 20px;
  background-color: #1e2d4a;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  max-width: 1000px;
}

.accordion-button {
  background-color: #243554;
  color: #f1f1f1;
  border: 1px solid #3a4d71;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.accordion-button:hover {
  background-color: #345b99;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  background-color: #1e2d4a;
  color: #f1f1f1;
  padding: 15px;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-button:not(.collapsed) {
  background-color: #f5a425;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  padding-left: 15px;
  line-height: 1.6;
}

ul li::before {
  content: "•";
  color: #ffc107;
  margin-right: 10px;
}

.title-table {
  color: #c0d4f2;
}

@media (max-width: 767px) {
  .accordion-container {
    width: 100%;
    padding: 10px;
  }

  .accordion-button {
    font-size: 14px;
    padding: 10px;
  }

  .accordion-body {
    padding: 10px;
  }

  ul li {
    font-size: 14px;
  }
}


/* end tabla*/




/* menu navegacion */


.main-menu {
  padding-top: 20px; /* Quita los puntos de la lista */
}



/* end menu navegacion */