
  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="assets/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h1>Clases de inglés</h1>
              <h2><em>Aprende </em> inglés <em> Ahora </em></h2> 
              <div class="main-button">
                  <div class="scroll-to-section"><a [routerLink]="['/']" (click)="navigateToSection('section5')">Mas información</a></div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->
   
  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="features-post">
            <div class="features-content">
              <div class="content-show">
                <h4><span class="emoji-size">📚</span>Nuestros cursos</h4>
              </div>
              <div class="content-hide">
                <p>Descubre todos nuestros cursos de inglés diseñados para cada nivel. Aprende a tu ritmo con clases interactivas y recursos exclusivos.</p>
                <p class="hidden-sm">Descubre todos nuestros cursos de inglés diseñados para cada nivel. Aprende a tu ritmo con clases interactivas y recursos exclusivos.</p>
                <div class="scroll-to-section"><a  [routerLink]="['/']" (click)="navigateToSection('section5')" >Mas información.</a></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post second-features">
            <div class="features-content">
              <div class="content-show">
                <h4><span class="emoji-size">🌐</span>Clases Virtuales</h4>
              </div>
              <div class="content-hide">
                <p>Accede a nuestras clases virtuales en vivo. Aprende inglés desde cualquier lugar con profesores expertos y contenido personalizado.</p>
                <p class="hidden-sm">Accede a nuestras clases virtuales en vivo. Aprende inglés desde cualquier lugar con profesores expertos y contenido personalizado.</p>
                <div class="scroll-to-section"><a [routerLink]="['/']" (click)="navigateToSection('section2')">Mas información</a></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post third-features">
            <div class="features-content">
              <div class="content-show">
                <h4><span class="emoji-size">🚀</span>Reuniones efectivas</h4>
              </div>
              <div class="content-hide">
                <p>Participa en nuestros encuentros virtuales en vivo, donde podrás practicar inglés en contextos reales sin salir de casa. Interactúa con compañeros y tutores en un entorno remoto altamente interactivo, diseñado para mejorar tu fluidez y confianza en el idioma. Estos encuentros te preparan para utilizar el inglés de manera efectiva en situaciones cotidianas, brindándote la experiencia práctica que necesitas desde la comodidad de tu hogar.</p>
                <p class="hidden-sm">Participa en nuestros encuentros virtuales en vivo, donde podrás practicar inglés en contextos reales sin salir de casa. Interactúa con compañeros y tutores en un entorno remoto altamente interactivo, diseñado para mejorar tu fluidez y confianza en el idioma. Estos encuentros te preparan para utilizar el inglés de manera efectiva en situaciones cotidianas, brindándote la experiencia práctica que necesitas desde la comodidad de tu hogar.</p>
                <div class="scroll-to-section"><a [routerLink]="['/']" (click)="navigateToSection('section5')">Mas información</a></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section video" data-section="section5">
    <div class="container" data-aos="zoom-in">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <h4>¿Por qué <em>elegirnos</em>?</h4>
            <h6><strong>🌟Domina el <em>Inglés Corporativo</em> con un Programa Personalizado para ti</strong></h6>
            <hr/>
            <ul class="pl-4">
              <li>
                <i class="fa-solid fa-ear-listen icon-elemental"></i>
                <strong> Comunicación efectiva y colaborativa</strong>
                <div class="ml-4">
                  <div>
                    <p>
                      <i class="fa-solid fa-chevron-right"></i>
                      Rompe barreras entre departamentos con una comunicación asertiva en inglés. Nuestro programa está diseñado a medida para potenciar tus habilidades lingüísticas y facilitar una comprensión clara y efectiva.
                    </p>
                  </div>
                </div>
              </li>
              <li><i class="fa-solid fa-wand-sparkles icon-elemental"></i><strong> Creación y Comprensión de Contenido</strong>
                <div class="ml-4">
                  <div>
                    <p>
                      <i class="fa-solid fa-chevron-right"></i>
                      Optimiza tus interacciones laborales con herramientas de aprendizaje enfocadas en el dominio del inglés desde el primer día. Mejora tu capacidad para crear y entender contenido de forma precisa y sin complicaciones.
                    </p>
                  </div>
                </div>
              </li>
              <li><i class="fa-solid fa-hat-wizard icon-elemental"></i><strong> Resultados Rápidos con Inmersión Lingüística</strong>
                <div class="ml-4">
                  <div>
                    <p>
                      <i class="fa-solid fa-chevron-right"></i>
                      Aprende de manera natural con nuestra metodología de inmersión lingüística. Integra conceptos y gramática en tu día a día, logrando avances significativos en poco tiempo. ¡Empieza a aplicar lo aprendido desde el día uno!
                    </p>
                  </div>
                </div></li>
            </ul>
          <!-- <div class="main-button"><a rel="nofollow" href="https://fb.com/templatemo" target="_parent">External URL</a></div> -->
          </div>
        </div>
        <div class="col-md-6">
          <article class="video-item">
            <div class="video-caption">
              <h4>Elemental Studios</h4>
            </div>
            <figure>
              <img src="assets/images/teacher.jpg" alt="profesor">
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="why-us" data-section="testimonios">
    <div class="container" data-aos="flip-up">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2>Testimonios que avalan nuestro compromiso y calidad</h2>
        </div>
      </div>
      <div id="testimonialCarousel" class="carousel slide testimonial-carousel" data-bs-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Testimonio 1"></button>
          <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="1" aria-label="Testimonio 2"></button>
          <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="2" aria-label="Testimonio 3"></button>
          <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="3" aria-label="Testimonio 4"></button>
        </div>
  
        <div class="carousel-inner">
          <!-- Testimonial 1 -->
          <div class="carousel-item active text-center">
            <img src="assets/images/testimonials/paulina.jpg" alt="Testimonio de Paulina Sagardia sobre Elemental Studios" class="testimonial-img">
            <p class="testimonial-name">Paulina Sagardia</p>
            <strong class="testimonial-role">Subgerente Auditoría Interna en SKY Airline.  <i class="fa-solid fa-plane icon-elemental"></i></strong>
            <div class="testimonial-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p class="testimonial-content">"Gerson tiene gran capacidad para identificar las mejores técnicas de aprendizaje en idioma para cada estudiante, 
              implementa programas adaptativos, con herramientas interesantes y 
              ludicas que permiten mantener la constancia en el avance en el idioma que es lo más importante. 
              Gran profesional con el que además es posible establecer lazos de amistad y confianza."</p>
          </div>
          <!-- Testimonial 2 -->
          <div class="carousel-item text-center">
            <img src="assets/images/testimonials/katherine.jpg" alt="Testimonio de Katherine Devia sobre Elemental Studios" class="testimonial-img">
            <p class="testimonial-name">Katherine Devia</p>
            <strong class="testimonial-role">Gerente de Ingeniería y Excelencia Operacional LAM en Boart Longyear <i class="fa-solid fa-person-digging icon-elemental"></i></strong>
            <div class="testimonial-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p class="testimonial-content">"Gerson fue soporte de traducción para la implementación y entrenamiento en sitio de aplicación de nueva tecnología, la interacción generada por Gerson entre los entrenadores y asistentes fue muy gratificante, además de su amplio conocimiento en traducción técnica, entregó valor agregado a su trabajo. Por supuesto que contrataré nuevamente a Gerson si en el futuro se presenta la oportunidad."</p>
          </div>
          <!-- Testimonial 3 -->
          <div class="carousel-item text-center">
            <img src="assets/images/testimonials/marco.jpeg" alt="Testimonio de Marco Estay sobre Elemental Studios" class="testimonial-img">
            <p class="testimonial-name">Marco Estay</p>
            <strong class="testimonial-role">Desarrollador de Software Full Stack <i class="fa-solid fa-robot icon-elemental"></i></strong>
            <div class="testimonial-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p class="testimonial-content">"El trabajo de Gerson fue impecable, destacándose por su habilidad para simplificar procesos complejos y hacerlos accesibles para todos. Su enfoque profesional y su creatividad en la implementación de soluciones marcaron una gran diferencia en los resultados obtenidos. Sin duda, es alguien en quien confiaría nuevamente para futuros proyectos."</p>
          </div>
          <!-- Testimonial 4 -->
          <div class="carousel-item text-center">
            <img src="assets/images/testimonials/david.jfif" alt="Testimonio de David Galvez sobre Elemental Studios" class="testimonial-img">
            <p class="testimonial-name">David Galvez</p>
            <strong class="testimonial-role">SAFETY & CONTROLLING DIRECTOR - COMPLIANCE OFFICER - CISO <i class="fa-solid fa-plane-departure icon-elemental"></i></strong>
            <div class="testimonial-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p class="testimonial-content">"He tenido una muy buena experiencia trabajando con Gerson. Ha sido un profesor dedicado y muy motivado, y me ha permitido crecer fuertemente en el manejo del Ingles. 
                                            Lo recomiendo completamente para aquellos que quieren avanzar fuerte y profesionalmente en su camino a la fluidez en Inglés."</p>
          </div>
        </div>
        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
  </section>

  <app-contact></app-contact>